.elite-navbar {
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(10px);
}

.glass-card {
  backdrop-filter: blur(25px);
  background: rgba(255,255,255,0.05);
  padding: 50px;
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.1);
}

.skills span {
  display: inline-block;
  background: #6366F1;
  padding: 8px 16px;
  border-radius: 20px;
  margin: 5px;
}

.project-card {
  background: #1f2937;
  padding: 20px;
  border-radius: 16px;
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 40px rgba(0,0,0,0.6);
}
